<%=flash[:notice]%>
<div id="main-container" class="container">
  <h1>Ajax Time Lab</h1>
  <div id="content" class="col-xs-9">
   <div class="col-xs-6">
     <div id="time">
       <p>
        The time is: <%= @time  %>
      </p>
     </div>
     <%= link_to 'Update via Js',url_for(:action=> "updateTime"), :remote=>true, class: 'btn btn-info btn-lg'  %>
     <%= link_to 'Update via redirect',url_for(:action=> "updateTime"), class: 'btn btn-primary btn-lg'  %>
     <p>Page last refreshed at: <%= @time %></p>
    </div>
  </div>
</div>
